
.title{
    color: brown;
    text-align: center;
   font-size: 3rem;
    margin-right: 30rem;
    font-family: cursive;
}

img{
    margin-top: 0.5rem;
}

h1{
    margin-top: 3rem;
    margin-left: 30%;
    color: #fff;
}
.c1{
    background-color: #5DADE2 ;

}